@tailwind base;
@tailwind components;
@tailwind utilities;

.header-image {
  background-image: url("./assets/image-6.png");
  background-position: top bottom;
  background-size: 100%;
}

.banner_img {
  background-image: url("./assets/image-5.png");

  background-position: center;
  background-size: 150%;
  background-repeat: no-repeat;
}
